<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rh.calorietracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.foodlist.FoodListActivity"
            android:parentActivityName=".feature.dayoverview.DayOverviewActivity"/>
        <activity
            android:name=".feature.foodeditor.FoodEditorActivity"
            android:parentActivityName=".feature.foodlist.FoodListActivity"/>
        <activity
            android:name=".feature.fooddetails.FoodDetailsActivity"
            android:parentActivityName=".feature.foodlist.FoodListActivity"/>
        <activity android:name=".feature.dayoverview.DayOverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".feature.foodpicker.FoodPickerActivity"
            android:parentActivityName=".feature.dayoverview.DayOverviewActivity"/>
    </application>

</manifest>